.address {
  position: relative;
  padding: 0.25rem 0.75rem 0rem;
  margin-bottom: 4rem;
  border: 2px solid #82ccf7;
  border-radius: 0.5rem;

  p {
    position: absolute;
    top: -1.5rem;
    left: 0;
  }

  label {
    input,
    select {
      width: 100%;
      padding: 0.25rem;
      margin-bottom: 1rem;
      border: 1px solid black;
      border-radius: 0.25rem;
    }
  }
}
